<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="UTF-8">
  <title>Blood Donation</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"
</head>
<body>

  <div class="jumbotron text-center">
   <h1 style="background-color:#FE6D64; color:white ">State the Problem!</h1>
     <div class = "row">
       <div class = "col-sm-6 col-sm-offset-3">
         <br>


      <form id ="regform" action = "/addproblem" method = "post">
        <div class="form-group">
          <label>Problem Title :</label>
          <input type="text" name="title" style="text-align:center" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Problem Description :</label>
          <textarea name="description" style="text-align:center" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" style="text-align:center" class="form-control" required>
        </div>


        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <div>

</div>





</body>
</html>
