
<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"
</head>
<body>

  <button value="high" onClick=>High</button>
  <button value="mod" onClick=>Moderate</button>
  <button value="low" onClick=>Low</button>
  <div id="root"></div>

</body>
<script>
  function getPriority() {
    
    if(this.getAttribute(value)=="high"){
      
    }
    else if (this.getAttribute(value)=="mod") {
      
    } else {
      
    }
  }
</script>
</html>
